<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vea las posiciones de LA LIGA PROFESIONAL DE FÚTBOL ARGENTINO para mantener informado sobre lo que pase">
    <meta property="og:title" content="LA LIGA PROFESIONAL DE FÚTBOL ARGENTINO" />
    <meta property="og:image" content="images/Logodelaliga.png">
    <meta name="author" content="Facundo Lopez">
    <meta name="keywords" content="Futbol, Argentina, Liga argentina de futbol">
    <title>TABLA DE POSICIONES DE LA LIGA PROFESIONAL DE FÚTBOL ARGENTINO</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<style>
    
</style>
<body>
    <header>
        <h1>TABLA DE POSICIONES DE LA LIGA PROFESIONAL DE FÚTBOL ARGENTINO</h1>
    </header>
    <div class="cuadrado">
        <h2>Leyenda de colores: </h2>
       
                <span>color verde pasan a la libertadores</span>
                <div class="colorVerde">

                </div>

                <span>color rojo desciende</span>
                <div class="colorRojo"></div>   
    </div>
    
    <table>
        <thead>
            {{> thead}}
        </thead>
        <tbody>
            {{#each equipos}}
            <tr>
                <td>
                    {{this.POSICION}}
                </td>
                <td class="{{colorFondo this ../mayorNumero}}">
                    <img src="{{this.IMG}}" alt="{{this.NOMBRE}}">
                    <span class="textoNoMovil">{{this.NOMBRE}}</span>
                    <span class="textoMovil">
                        {{this.NOMBREMOVIL}}
                    </span>
                </td>
                <td>
                    <span>{{this.PJ}}</span>
                </td>
                <td>
                    <span>{{this.PG}}</span>
                </td>
                <td>
                    <span>{{this.PE}}</span>
                </td>
                <td>
                    <span>{{this.PP}}</span>
                </td>
                <td class="movil">
                    <span >{{this.GF}}</span>
                </td>
                <td class="movil">
                    <span >{{this.GC}}</span>
                </td>
                <td class="movil">
                    <span >{{this.DG}}</span>
                </td>
                <td>
                    <span>{{this.PTS}}</span>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>